<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

      body,
      table,
      td,
      a,
      p,
      span,
      button {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        text-size-adjust: 100%;
        margin: 0;
        padding: 0;
        color: inherit;
        line-height: normal;
        mso-font-alt: 'Arial';
      }

      table {
        border-spacing: 0;
        width: 100%;
      }

      img {
        border: 0;
        display: block;
      }

      @media only screen and (max-width: 600px) {
        #container {
          width: 100% !important;
        }
        .footer-box {
          padding: 20px !important;
        }
        .button {
          padding: 10px !important;
        }
      }
    </style>
  </head>

  <body style="margin: 0; margin-top: 20px; padding: 0; width: 100%">
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
        padding-bottom: 32px;
        background-color: #fafafa;
        border-radius: 20px;
        padding: 20px;
      "
    >
      <tr>
        <td align="center">
          <table
            cellpadding="0"
            cellspacing="0"
            id="container"
            width="500"
            style="background-color: #fafafa; border-radius: 8px"
          >
            <tr>
              <td>
                <!-- Hero Section -->
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="text-align: center">
                      <img
                        src="https://...-app-bucket.s3.us-east-1.amazonaws.com/uploads/Image20250310191044.png"
                        alt="...-logo"
                        width="100"
                      />
                    </td>
                  </tr>
                </table>

                <!-- Main Content -->
                <table width="100%" cellpadding="0" cellspacing="0" style="margin-top: 32px">
                  <tr>
                    <td>
                      <p style="font-size: 16px; color: #6f6b6b; font-weight: 600">
                        <strong>Urgent: Action Required!</strong>
                      </p>
                      <p style="font-size: 14px; color: #6f6b6b; margin-top: 8px">
                        A new member has completed their profile and is waiting for final verification. Please complete
                        their verification process to help them unlock the full features of the platform.
                      </p>

                      <p style="font-size: 14px; color: #6f6b6b; margin-top: 12px">
                        <strong>Username:</strong> {{ firstName }}
                      </p>

                      <p style="font-size: 14px; color: #6f6b6b; margin-top: 4px">
                        <strong>Email:</strong> {{ email }}
                      </p>

                      <p style="font-size: 14px; color: #6f6b6b; margin-top: 20px">
                        Click the link below to verify their identity and complete the profile:
                      </p>
                      <p style="font-size: 14px; color: #eb0531; margin-top: 8px">
                        <a
                          href="https://admin.....com/dashboard/user/edit-user/{{ id }}"
                          style="font-size: 14px; color: #eb0531; text-decoration: none"
                        >
                          Verify User and Complete Profile
                        </a>
                      </p>
                    </td>
                  </tr>
                </table>

                <!-- Regards -->
                <table width="100%" cellpadding="0" cellspacing="0" style="margin-top: 32px">
                  <tr>
                    <td>
                      <p style="font-size: 14px; color: #6f6b6b">
                        Stay a While!<br />
                      </p>
                    </td>
                  </tr>
                </table>

                <!-- Footer -->
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  class="footer-box"
                  style="background-color: #ce2029; border-radius: 16px; margin-top: 32px; padding: 32px"
                >
                  <tr>
                    <td align="center">
                      <p style="font-size: 12px; color: #ffffff; margin-top: 14px">
                        Copyright © 2025 . All rights reserved.
                      </p>
                      <a
                        href="https://....com/about"
                        style="
                          font-size: 12px;
                          color: #05eb74;
                          margin-top: 8px;
                          display: inline-block;
                          text-decoration: none;
                        "
                      >
                        About 
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
